@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-secondary">Create category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <input asp-for="Name" class="form-control" placeholder="Name"/>
        </div>
        <div>
            <input asp-for="DisplayOrder" class="form-control" placeholder="DisplayOrder"/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Return</a>
    </div>
</form>